# Exclusions
# - vendor specific
# -clang-analyzer-optin.cplusplus.VirtualCall - flags on boost basic_pipebuf::overflow
Checks: >
  -llvm-*,-google-*,-mozilla-*,
  -clang-analyzer-optin.cplusplus.VirtualCall
WarningsAsErrors: '"*'
HeaderFilterRegex: '.*'
FormatStyle: file